
/*--- MAIN FILE CSS ---*/

body{
	background-color: royalblue;
	max-height: auto;
	padding: 0;
	margin: 0;
	font-family: DejaVu Sans Mono, monospace;
	font-weight: 200;

}

nav.menu{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;
	background-color: darkblue;
	
}
nav.menu ul{
	list-style: none;
	display: flex;
}

nav.menu ul li{
	padding-right: 40px;
	padding-left: 40px;
}
nav.menu ul li a{
	padding: 15px;
	font-size: 2.5em;
	text-decoration: none;
	color: #fff;
	border-radius: 10px;
	font-family: DejaVu Sans Mono, cursive;

}

nav.menu ul li a:hover{
	background-color: ghostwhite;
	color: #000;
	transition: 1s ease;
}

form{
	margin-top: 500px;
	text-align: center;
	padding: 0% 25% 0% 25%;
	
}

.field_wrapper{
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}
.field_file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.field_file-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

}
 
.field_file-fake {
  height: 60px;
  width: calc(100% - 130px);
  display: flex;
  
  align-items: center;
  padding: 0 25px;
  border-radius: 10px 0 0 10px;
  border-right: none;
  background-color: ghostwhite;
  font-size: 2.5em;
  box-shadow: 8px 5px 5px rgba(0,0,0,0.6);
  cursor: pointer;
}
 
.field_file-button {
  width: 330px;
  height: 60px;
  background-color: darkblue;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  box-shadow: 8px 5px 5px rgba(0,0,0,0.6);
}


.btn_send{
	font-family: Bradley Hand, cursive;
	margin-top: 30px;
	width: 350px;
	height: 80px;
	font-size: 2.5em;
	cursor: pointer;
	outline: none;
	border-radius: 10px;
	border: none;
	background-color: #fff;
	color: #000;
	box-shadow: 8px 5px 5px rgba(0,0,0,0.6);
}

.btn_send:hover{
	background-color: darkblue;
	color: #fff;
	transition: 0.9s ease;
}

.flash.FileNot{
	position: relative;
	top: 250px;
	border: none;
	border-radius: 10px;
	padding: 10px;
	color: white;
	background-color: darkblue;
	text-align: center;
	font-size: 30px;
}


/*--- IMAGES FILE CSS ---*/

main.container{
	margin-top: 100px;
	padding-right: 25%;
	padding-left: 25%;
	display: flex;
	flex-direction: column;
}

main.container span{
	background-color: snow;
	text-align: center;
	font-size: 2.5em;
	border-radius: 10px;
	margin-bottom: 30px;
	margin-top: 30px;
	padding: 10px;
}
.wrapper_tool{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
}

main.container .wrapper_tool a{
	text-align: right;
	
}

main.container .wrapper_tool img{
	padding-right: 10px;
	padding: 10px;
}

.btn_back{
	display: flex;
	align-items: center;
	background-color: snow;
	width: 250px;
	height: 50px;
	border-radius: 10px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 30px;
}

.btn_back a{
	font-size: 1.5em;
	width: 250px;
    padding-top: 10px;
	padding-bottom: 10px;
	
}

.btn_back:hover{
	background-color: darkblue;
	transition: 1s ease;
}

.btn_back a:hover{
	color: snow;
	transition: 1s ease;
}



/*--- LinksImages FILE CSS ---*/
.info_from_user{
	margin: 150px auto;
	text-align: center;
	background-color: darkblue;
	color: snow;
	padding: 20px;
}
.info_from_user span{
	font-size: 4.5em;
}


.wrapper_link{
/*
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
*/
/*	height: 120px;*/
	margin: 100px auto;
	
	background-color: ghostwhite;
	border-radius: 15px;
	
	margin-right: 35%;
	margin-left: 35%;
	display: grid;
	
	grid-template-columns: 0.1fr 1fr 250px 0.5fr;
	grid-template-rows: 0.5fr 0.5fr;
}
.wrapper_link .date{
/*	align-self: flex-start;*/
	font-size: 1.5em;
	padding-right: 15px;
	padding-left: 15px;
	font-family: cursive;
	grid-column: 2/2;

}

.wrapper_link a{
	font-size: 2.0em;
	text-align: center;
	text-decoration: none;
	margin-bottom: 10px;
	grid-column: 3/3;
	grid-row: 3/3;
	line-height: 1.2;
	word-break: break-all;
	font-family: Marker Felt, fantasy;
	letter-spacing: 2px;
}

.wrapper_link .icons{
	margin-left: 10px;
	grid-column: 2/2;
	grid-row: 3/3;
	
}

.wrapper_link .icons img{
	width: 100px;
	height: 100px;
	border-radius: 15px;
}


/*--- SUCCESS FILE CSS ---*/

.wrapper_remove{
	text-align: center;
	margin-top: 250px;
	margin-bottom: 30px;
	background-color: darkblue;
	padding: 15px;
}

.wrapper_remove h1{
	font-size: 4.5em;
	color: snow;
}

.btn_back a{
	text-decoration: none;
	color: black;	
}




